<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">

    <input type="hidden" th:field="*{id}" th:value="${user.id}">

    <label for="name">Username:</label>
    <input type="text" th:field="*{username}" id="name" th:value="${user.username}">
    <br><br>

    <label for="lastname">Lastname:</label>
    <input type="text" th:field="*{lastname}" id="lastname" th:value="${user.lastname}">
    <br><br>
    <label for="age">Age:</label>
    <input type="tel" th:field="*{age}" id="age" th:value="${user.age}">
    <br><br>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" th:value="${user.email}">
    <br><br>

    <label for="phonenumber">Phone number:</label>
    <input type="text" th:field="*{phoneNumber}" id="phonenumber" th:value="${user.phoneNumber}">
    <br><br>
    <input type="submit" value="Update User">

</form>
</body>
</html>